/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 4, 2015, 1:23:36 PM
    Author     : panzer
*/

body,html{
    background-color: #5e5e5e;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    
}
header{
    background-color: black;
    height: 50px;
    color:white;
    width: 100%;
    position: fixed;
    margin-top: -25px;
    z-index: 2;
    
}
header #logo{
    margin-left: 25px;
    display: inline-block;
}

header span{
      padding:0px;
      display: inline-block;
      line-height: 50px;

}
header a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;

    height: 50px;
    text-decoration: none;
    color:white;
    width: 50px;
    text-align: center;



}
#panzerlogo{
    border-right-color: white;
    border-right-style: dashed;
    border-right-width: 1px;
    width: 100px;
    text-align: center;
}





header span{
    font-size: 25px;
    height: 50px;
   
}


header span:hover * {
    background-color: white;
    color:black;
    
}




.photoviewer {
    background-color: blue;
    
    width: 1200px;
    
}
.book{
    background-color:white;
    margin-left: auto;
    margin-right:  auto;
    margin-top:25px;
    overflow: hidden;
    width:auto;
    padding-bottom:25px;
    padding-top:25px;

}
.book .chapter{
    padding-left:25px;
    padding-right:25px;
}
.book .chapter-name{
    font-size: xx-large;
}
.photoJSviewer{
    background-color: black;
    color:white;
    width: calc(100%);
    
    height: 250px;
    margin-left: auto;
    margin-right:  auto;
}
.photoviewer-description {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: xx-large;
}

.photoviewer-photo {
float:right;

}

footer{
    width: 100%;
    height: 100px;
    background-color: black;
    color:white;
}
footer #credits{
    margin-bottom: 0px;
    text-align: right;
    padding-right: 20px;
    line-height: 100px;
}
#photos_albums2015{
    height: 350px;
    
    width: 100%;
}